<div class="text-center">
    <h2>{{name}}</h2>
    <p{{description}}></p>
    <p>Written by {{user.name}} on {{format_date date_created}}</p>
    <button class="btn btn-primary">Submit Blog!</button>
</div>